.form-group {
    margin-bottom: 1.4rem;
}

.form-group input {
    width: 100%;
    padding: 16px 20px;
    border-radius: 18px;
    border: 2px solid #e0c4f7;
}

input:focus {
    border-color: #c084fc;
}